<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="mongodb:databaseName" value="SEA"/>
    <add key="mongodb:username" value="admin"/>
    <add key="mongodb:password" value="admin123!"/>
    <add key="mongodb:host" value="localhost"/>
    <add key="mongodb:port" value="27017"/>
  </appSettings>
</configuration>